section.hero-section {
    background-color: white;
}

section.about-company {
    background-color: white;

    .banner-company {
        width: 40%;
    }
}

section.testimoni-section {
    background-color: white;
}

body hr {
    width: 80%;
    margin: 0 auto;
}